---
layout: default
title: Home
pagination:
  enabled: true
---

<!--{% if page.url == "/" %}-->

<!-- Featured
================================================== -->
<!-- <section class="featured-posts"> -->
    <!-- <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>-->
    <!-- <div class="row">

        {% render_index_map %}

    </div> 
</section>  -->

<!-- {% endif %} -->

<!-- Posts Index
================================================== -->
<section class="featured-posts">
    <!-- <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>-->
    <div class="row">

        <!-- {% render_index_map %} -->

    </div> 
</section>

<section class="event-types">
    <div class="row">
        <div class="col-md-2">
            <h1 id="home-page-title" class="text-right font-weight-bold">Educational events brought to you</h1>
        </div>

        {% assign categories_collection = site.categories %}
            {% if categories_collection.first[0] == null %}
                {% for category in categories_collection %}
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <p class="text-center">
                            <a href="{{ site.baseurl}}/events#{{ category | url_escape | strip | replace: ' ', '-' }}">
                            <img src="assets/images/categories/{{ category | url_escape | strip | replace: ' ', '-' }}.png" alt="" class="values" />
                            </a>
                        </p>
                        <p class="ml-1 mr-1 text-center font-weight-bold">
                            {{ category | camelcase }}
                        </p>
                    </div>

                {% endfor %}
            {% else %}
                {% for category in categories_collection %}
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <p class="text-center">
                            <a href="{{site.baseurl}}/events#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">
                            <img src="assets/images/categories/{{ category[0] | url_escape | strip | replace: ' ', '-' }}.png" alt="" class="values" />
                            </a>
                        </p>
                        <p class=" ml-1 mr-1 text-center font-weight-bold">
                            {{ category[0] | camelcase }}
                        </p>
                </div>
                {% endfor %}
            {% endif %}
        {% assign categories_collection = nil %}
    </div>

</section>

<section class="recent-posts">

    <div class="section-title">

        <h2 id="upcoming-events" class="mk-fancy-title pattern-style"><span>Upcoming events</span></h2>

    </div>
    <div class="row jumbotron fortags">
        <div class="d-md-flex">
            <div class="col-md-12 mb-2 align-self-center text-center">
                {% assign categories_list = site.categories %}
                {% if categories_list.first[0] == null %}
                    {% for category in categories_list %}
                        <a class="mt-1 mb-1" href="{{site.baseurl}}/events#{{ category | url_escape | strip | replace: ' ', '-' }}"><span class="text-capitalize">{{ category | camelcase }}</span></a>
                    {% endfor %}
                {% else %}
                    {% for category in categories_list %}
                        <a class="mt-1 mb-1" href="{{site.baseurl}}/events#{{ category[0] | url_escape | strip | replace: ' ', '-' }}"><span class="text-capitalize">{{ category[0] | camelcase }}</span></a>
                    {% endfor %}
                {% endif %}
                {% assign categories_list = nil %}
            </div>
            <!-- <div class="col-md-6 mb-2 align-self-center text-center">
                <span>I'm a </span>
                {% assign tags_list = site.tags %}
                {% if tags_list.first[0] == null %}
                    {% for tag in tags_list %}
                        <a class="mt-1 mb-1" href="{{site.baseurl}}/tags#{{ tag | url_escape | strip | replace: ' ', '-' }}"><span class="text-capitalize">{{ tag | camelcase }}</span></a>
                    {% endfor %}
                {% else %}
                    {% for tag in tags_list %}
                        <a class="mt-1 mb-1" href="{{site.baseurl}}/tags#{{ tag[0] | url_escape | strip | replace: ' ', '-' }}"><span class="text-capitalize">{{ tag[0] | camelcase }}</span></a>
                    {% endfor %}
                {% endif %}
                {% assign tags_list = nil %}
            </div> -->
        </div>
    </div>


    <div class="row listrecent">

        <!-- paginator.posts does not work currently -->
        {% assign sortedPosts = site.posts| sort:"begindate" %}
        {% for post in sortedPosts %}

        {% if post.hidden == false  %}
        {% capture nowunix %}{{ 'now' | date_to_xmlschema }}{% endcapture %}
        {% capture begindate %}{{ post.begindate | date_to_xmlschema }}{% endcapture %}
        {% capture enddate %}{{ post.enddate | date_to_xmlschema }}{% endcapture %}
        
        {% if enddate > nowunix %}
            {% include postbox.html %}
        {% endif %}

        {% endif %}

        {% endfor %}
    </div>
</section>


<!-- Pagination
================================================== -->
<!-- <div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
    </div> -->

<section class="recent-posts">
    
    <div class="section-title">

        <h2 id="past-events" class="mk-fancy-title pattern-style"><span>Past events</span></h2>
    </div>

    <div class="row listrecent">
    
        <!-- paginator.posts does not work currently -->
        {% assign sortedPosts = site.posts| sort:"begindate" %}
        {% for post in sortedPosts reversed %}

        {% if post.hidden == false  %}
        {% capture nowunix %}{{ 'now' | date_to_xmlschema }}{% endcapture %}
        {% capture begindate %}{{ post.begindate | date_to_xmlschema }}{% endcapture %}
        {% capture enddate %}{{ post.enddate | date_to_xmlschema }}{% endcapture %}

        {% if begindate < nowunix %}
        {% if enddate < nowunix %}
            {% include postbox.html %}
        {% endif %}
        {% endif %}

        {% endif %}

        {% endfor %}
    
    </div>
    
    <!-- Pagination
    ================================================== -->
    <!-- <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
        </div> -->

</section>






