<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-12">
                
                <div class="row mb-3">
                        <img src="/assets/images/edtech-logo.png" class="img-fluid" alt="EdTech Hong Kong Logo" width="" height="">
                </div>
                <div class="row justify-content-end mr-3">
                    <h5>Follow us</h5>
                </div>
                <div class="row justify-content-end mr-3">
                    <a href="https://twitter.com/edtech_hk"><img src="/assets/images/footer/x.png" class="social" width="64" height="64"></a>
                    <a href="https://linkedin.com/company/edtechhongkong/"><img src="/assets/images/footer/linkedin.png" class="social" width="64" height="64"></a>
                    <!-- <a href="https://www.facebook.com"><img src="assets/images/footer/facebook.png" class="social" width="64" height="64"></a>
                    <a href="https://www.youtube.com"><img src="assets/images/footer/youtube.png" class="social" width="64" height="64"></a> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <h5>Contact</h5>
                <p>
                    adress<br>
                    adress<br>
                    adress<br>
                    adress
                </p>
                <p>adress</p> 
                <p>
                    <a href="mailto:edtechhongkong@gmail.com" class="footer">adress</a><br>
                    
                </p> -->
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 text-lg-right">
                <a href="http://eepurl.com/hJ5efb" target="_blank">Newsletter</a> ·
                <a href="{{ site.baseurl }}/privacy-policy.html">Privacy policy</a> · <a href="{{ site.baseurl }}/disclaimer.html">Disclaimer</a> · <a href="{{ site.baseurl }}/credits">Credits</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                Copyright © 2021-{{ site.time | date: "%Y" }} {{ site.name }}
            </div>
        </div>
    </div>
</footer>