<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <a href="{{ site.baseurl }}{{ post.url }}" title="Read Story">
        <div class="card h-100">
            <div class="maxthumb">                
                {% if post.image %}
                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> 
                    {% endif %}
                    

                    {% capture nowunix %}{{ 'now' | date_to_xmlschema' }}{% endcapture %}
                    {% capture begindate %}{{ post.begindate | date_to_xmlschema }}{% endcapture %}
                    {% capture enddate %}{{ post.enddate | date_to_xmlschema }}{% endcapture %}
                    
                    {% if begindate < nowunix %}
                    {% if enddate < nowunix %}

                        <span class='past-label'>PAST</span>
                    {% endif %}

                    {% else %}
                        {% if post.featured %}
                            <span class='past-label'>RECOMMENDED</span>
                        {% endif %}

                    {% endif %}

                {% endif %}
            </div>
            <div class="card-body">
                <h2 class="card-title">
                    {{ post.title }}
                    {% if post.rating %}
                    <!-- <div class="mb-2 mt-2 font-weight-normal">
                    {% include star_rating_postbox.html %}
                    </div> -->
                    {% endif %}
                </h2>
                <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:10 }}</h4>
            </div>
            <div class="card-footer bg-white">
                <div class="wrapfooter">
                    {% if post.author %}
                    <span class="meta-footer-thumb">
                    {% if post.category-thumb %}
                    <img class="author-thumb" src="{{site.baseurl}}/{{ post.category-thumb }}" alt="{{ author.display_name }}">
                    {% else %}
                    <img class="author-thumb" src="" alt="{{ author.display_name }}">
                    {% endif %}
                    </span>
                    <span class="author-meta">
                    <span class="post-name text-dark mb-2">By {{ author.display_name }}</span><br/>
                    {% endif %}
                    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->
                    {% if post.begindate %}
                            <span class="text-dark"><b>{{ post.begindate | date: "%e %b %Y" }}</b></span>
                            {% if post.enddate %}

                            {% assign postBeginDay = post.begindate | date: "%j" | plus: 0 %}
                            {% assign postBeginYear = post.begindate | date: "%Y" | plus: 0 %}
                            {% assign postEndDay = post.enddate | date: "%j" | plus: 0 %}
                            {% assign postEndYear = post.enddate | date: "%Y" | plus: 0 %}

                                {%- if postBeginDay != postEndDay or postBeginYear != postEndYear  -%}
                                    <span class="text-dark"> until <b>{{ post.enddate | date: "%e %b %Y" }}</b></span>
                                {%- endif -%}

                            {% endif %}
                        {% else %}
                            {% if post.enddate %}
                            <span class="text-dark"> Until <b>{{ post.enddate | date: "%e %b %Y" }}</b></span>
                            {% endif %}
                        {% endif %}
                    </span>
                    
                    <!-- <span class="post-read-more"></span> -->
                    <!-- <span class="post-name text-dark">{{ post.categories | array_to_sentence_string "&"}}</span> -->

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- end post -->