---
layout: default
disqus: false
archive: false
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">
        <div class="section-title col-12">
            <h1 class="mk-fancy-title pattern-style"><span>{{ page.title }}</span></h1>
        </div>
    </div>
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-6 pl-0">
            <img src="{{site.baseurl}}/assets/images/about/community.jpg" alt="" class="img-fluid about" />
        </div>

        <div class="col-md-6 flex-first flex-md-unordered about text-justify">
            <p>EdTech Hong Kong wants to bring <span class="font-weight-bold yellow-highlight">educators</span>, <span class="font-weight-bold yellow-highlight">teachers</span>, <span class="font-weight-bold yellow-highlight">researchers</span>, <span class="font-weight-bold yellow-highlight">creators</span> and <span class="font-weight-bold yellow-highlight">investors</span> in <span class="font-weight-bold green-highlight">Hong Kong</span> and the <span class="font-weight-bold green-highlight">Greater Bay Area</span> together in one community to share ideas on education. </p>
            <ul>
                <li>Are you organizing an important event about education?</li>
                <li>Do you want to present your idea to the community through our blog and other channels? </li>
                <li>Are you looking for collaborators to cocreate?</li>
                <li>Or do you just want to connect to other likeminded souls?</li>
            </ul>
            <p>We can help you get the word out!</p>
            <a href="{{site.baseurl}}/contact" class="btn btn-warning">Contact us</a>
        </div>
        <!-- End Post -->

    </div>
</div>
<section class="section mt-5 md-5 pt-5 pb-5 lighten bg-image bg-color">
    
    <div class="container">
        <div class="row mission pt-4 pb-4">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2 class="lighten">Bringing <span class="">educators</span> and <span class="">creators</span> together</h2>
                <h3 class="lighten text-center">to brighten the future of education</h3>
                <!-- <h4>Another text</h4> -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <p><img src="" alt="" class="values" /></p>
                        <p class="p-counting"><strong></strong></p>
                        <p class="font-weight-bold">Informing about <br>ongoing events</p>
    
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <p><img src="" alt="" class="values" /></p>
                        <p class="p-counting"><strong></strong></p>
                        <p class="font-weight-bold">Networking opportunities</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <p><img src="" alt="" class="values" /></p>
                        <p class="p-counting"><strong></strong></p>
                        <p class="font-weight-bold">Sharing with the community</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <p><img src="" alt="" class="values" /></p>
                        <p class="p-counting"><strong></strong></p>
                        <p class="font-weight-bold">Periodic <br>newsletter</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</section>

<div class="container">
    <div class="row">
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

<!-- End Article
================================================== -->
