---
title: "Categories"
layout: default
permalink: "/categories.html"
---
<div class="row listrecent">
<div class="section-title col-md-12 mt-4">
<h1>Event Categories
</h1>
</div>

{% for category in site.categories %}
<div class="section-title col-md-12 mt-4">
<h2 id="{{ category[0] | replace: " ","-" }}" class="mk-fancy-title pattern-style"><span class="text-capitalize">{{ category[0] }}</span></h2>
</div>
<!-- Upcoming events -->
{% assign pages_list = category[1] %}
{% for post in pages_list reversed %}
{% if post.title != null %}
{% if group == null or group == post.group %}


{% capture nowunix %}{{ 'now' | date_to_xmlschema }}{% endcapture %}
{% capture begindate %}{{ post.begindate | date_to_xmlschema }}{% endcapture %}
{% capture enddate %}{{ post.enddate | date_to_xmlschema }}{% endcapture %}

{% if enddate > nowunix %}
{% if post.hidden == false  %}
    {% include postbox.html %}
{% endif %}
{% endif %}


{% endif %}
{% endif %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}

<!-- Past events -->
{% assign pages_list = category[1] %}
{% for post in pages_list reversed %}
{% if post.title != null %}
{% if group == null or group == post.group %}

{% capture nowunix %}{{'now' | date_to_xmlschema}}{% endcapture %}
{% capture begindate %}{{post.begindate | date_to_xmlschema}}{% endcapture %}
{% capture enddate %}{{post.enddate | date_to_xmlschema}}{% endcapture %}

{% if begindate < nowunix %}
{% if enddate < nowunix %}
{% if post.hidden == false  %}
    {% include postbox.html %}
{% endif %}
{% endif %}
{% endif %}

{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
</div>