---
layout: default
disqus: false
archive: false
---

<!-- Begin Article
================================================== -->

<section>
    <div class="container">
        <div class="row">
            <div class="section-title col-12">
                <h1 class="mk-fancy-title pattern-style"><span>{{ page.title }}</span></h1>
            </div>
        </div>
        <div class="row">
    
            <!-- Post Share -->
            <div class="col-6 pl-0">
                <form id="contact-form" action="https://formspree.io/f/mdoyvelb" method="POST">
                    <div class="row">
                      <div class="col-lg-6">
                        <input type="text" class="form-control" name="first-name" id="first-name" placeholder="First Name">
                      </div>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Last Name">
                      </div>
                      <div class="col-lg-12">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                      <!-- <div class="col-lg-6">
                        <div class="select-wrapper">
                          <select class="form-control" id="projectType" name="project-type">
                            <option value="" selected disabled hidden>Project Type</option>
                            <option value="gd">Graphics Design</option>
                            <option value="wb">Web Design</option>
                          </select>
                        </div>
                      </div> -->
                      <div class="col-12">
                        <textarea class="form-control" id="aboutProject" name="about-project" rows="6" placeholder="Tell us what is on your mind."></textarea>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-warning mb-3" id="contact-form-button">
                          <span class="btn-area">
                            <span data-text="Send Message">
                              Send Message
                            </span>
                          </span>
                        </button>
                      </div>
                      <p id="contact-form-status"></p>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>


<!-- End Article
================================================== -->
