---
title: "News"
layout: default
permalink: "/news"
---
<div class="row listrecent">
<div class="section-title col-md-12 mt-4">
<h1>News
</h1>
</div>

<!--    {% for staff_member in site.staff_members %}-->
<!--    <h2>-->
<!--        <a href="{{ staff_member.url }}">-->
<!--            {{ staff_member.name }} - {{ staff_member.position }}-->
<!--        </a>-->
<!--    </h2>-->
<!--    <p>{{ staff_member.content | markdownify }}</p>-->
<!--    {% endfor %}-->

    {% for post in site.news %}
        <div class="col-lg-4 col-md-6 mb-30px card-group">
            <a href="{{ site.baseurl }}{{ post.url }}" title="Read Story">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ post.title }}
                        </h2>
                        {% if post.short != null %}
                        <p class="card-text">{{ post.short | truncatewords:30 }}</p>
                        {% else %}
                        <p class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white">
                            <a target="_blank" href="{{ site.baseurl }}{{ post.url }}" class="btn btn-warning">Read more</a>
                        <div class="wrapfooter">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>