---
layout: default
---


<section>
    <div class="section-title">
        <h1 class="mk-fancy-title pattern-style"><span>{{ page.title }}</span></h1>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>